<div id="section1"   dir='rtl'>
    <h2>
در این گام به بررسی داده های بورس می پردازیم.چون در صورت سوال ذکر شده از همان داده های خام بورس تمرین هدوپ استفاده می کنم </div>
</h2>
        <hr>

Installing Spark
Install Dependencies:
```
1.   Java 8
2.   Apache Spark with hadoop and
3.Findspark (used to locate the spark in the system)

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

Set Environment Variables:

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) 
spark

install to googledrive

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
from pyspark.sql import SparkSession
import cv2,matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
import matplotlib.image as mping

#preproccesing

<div id="section1"   dir='rtl'>
    <h2>قبل از شروع گام ها عملیات پیش پردازش را روی جدول برای تاریخ انجام می دهیم .دیتاست من از ماه شهریور 99 تا 27 اسفند 99 است که حدود 7 ماه است .چون در تمرین اول هم از همین دیتاست 7 ماهه استفاده کردم اینجا هم از همان استفاده می کنیم و ماه شهریور را هم حساب می کنم. گرچه میشد این ماه را حذف کرد ولی خب گفتم دوگانگی در دو تمرین ایجاد نشود از همان دیتاست استفاده می کنم . </div>
</h2>
        <hr>

<div id="section1"   dir='rtl'>
    <h2>
من ابتدا با استفاده از پایتون فایل اکسل را دریافت می کنم و تاریخ را به ان اضافه می کنم اما جداسازی به روز و ماه و سال را با اسپارک انجام می دهم(از جناب بنایی پرسیدم و ایشون اجازه دادند که این روش  برای گرفتن تاریخ اشکالی ندارد) </div>
</h2>
        <hr>

<div id="section1"   dir='rtl'>
    <h2>
ابتدا با استفاده از کتابخانه ی os در پایتون نام فایل را دریافت می کنیم این دقیقا همان روشی است که من در تمرین هدوپ انجام دادم و انجا کامل توضیح دادم و اینجا به صورت خلاصه دوباره توضیح می دهم </div>
</h2>
        <hr>

In [6]:

train_dir=os.path.join("/content/drive/MyDrive/spark/Datasets/3/xlsx/")
train = os.listdir(train_dir)

<div id="section1"   dir='rtl'>
    <h2>حال نام ها را در یک ارایه قرار می دهیم </div>
</h2>
        <hr>

In [7]:
trainlist =[]
for i in train: 
    if i.endswith(".xlsx"):
        trainlist = np.append(trainlist,i)
trainlist

array(['1399-6-2.xlsx', '1399-6-3.xlsx', '1399-6-4.xlsx', '1399-6-5.xlsx',
       '1399-6-10.xlsx', '1399-6-11.xlsx', '1399-6-12.xlsx',
       '1399-6-15.xlsx', '1399-6-16.xlsx', '1399-12-27.xlsx',
       '1399-12-26.xlsx', '1399-12-25.xlsx', '1399-12-24.xlsx',
       '1399-12-23.xlsx', '1399-12-20.xlsx', '1399-12-19.xlsx',
       '1399-12-18.xlsx', '1399-12-17.xlsx', '1399-12-16.xlsx',
       '1399-12-13.xlsx', '1399-12-12.xlsx', '1399-12-11.xlsx',
       '1399-12-10.xlsx', '1399-12-9.xlsx', '1399-12-6.xlsx',
       '1399-12-5.xlsx', '1399-6-17.xlsx', '1399-6-18.xlsx',
       '1399-6-19.xlsx', '1399-6-22.xlsx', '1399-6-23.xlsx',
       '1399-6-24.xlsx', '1399-6-25.xlsx', '1399-6-26.xlsx',
       '1399-6-29.xlsx', '1399-6-30.xlsx', '1399-7-5.xlsx',
       '1399-12-4.xlsx', '1399-12-3.xlsx', '1399-12-2.xlsx',
       '1399-11-29.xlsx', '1399-11-28.xlsx', '1399-11-27.xlsx',
       '1399-11-26.xlsx', '1399-11-25.xlsx', '1399-11-21.xlsx',
       '1399-11-20.xlsx', '1399-11-19.xlsx', '1399-11-18.xlsx',
       '1399-11-15.xlsx', '1399-11-14.xlsx', '1399-11-13.xlsx',
       '1399-11-12.xlsx', '1399-11-11.xlsx', '1399-11-8.xlsx',
       '1399-11-7.xlsx', '1399-11-6.xlsx', '1399-11-5.xlsx',
       '1399-11-4.xlsx', '1399-11-1.xlsx', '1399-10-30.xlsx',
       '1399-10-29.xlsx', '1399-10-27.xlsx', '1399-10-24.xlsx',
       '1399-10-23.xlsx', '1399-10-22.xlsx', '1399-10-21.xlsx',
       '1399-10-20.xlsx', '1399-10-17.xlsx', '1399-10-16.xlsx',
       '1399-10-15.xlsx', '1399-10-14.xlsx', '1399-10-13.xlsx',
       '1399-10-10.xlsx', '1399-10-9.xlsx', '1399-10-8.xlsx',
       '1399-10-7.xlsx', '1399-10-6.xlsx', '1399-10-3.xlsx',
       '1399-10-2.xlsx', '1399-10-1.xlsx', '1399-9-30.xlsx',
       '1399-9-29.xlsx', '1399-9-26.xlsx', '1399-9-25.xlsx',
       '1399-9-24.xlsx', '1399-9-23.xlsx', '1399-9-22.xlsx',
       '1399-9-19.xlsx', '1399-9-18.xlsx', '1399-9-17.xlsx',
       '1399-9-16.xlsx', '1399-9-15.xlsx', '1399-9-12.xlsx',
       '1399-9-11.xlsx', '1399-9-10.xlsx', '1399-9-9.xlsx',
       '1399-9-8.xlsx', '1399-9-5.xlsx', '1399-9-4.xlsx', '1399-9-3.xlsx',
       '1399-9-2.xlsx', '1399-8-28.xlsx', '1399-8-27.xlsx',
       '1399-8-26.xlsx', '1399-8-25.xlsx', '1399-8-24.xlsx',
       '1399-8-21.xlsx', '1399-8-20.xlsx', '1399-8-19.xlsx',
       '1399-8-18.xlsx', '1399-8-17.xlsx', '1399-8-14.xlsx',
       '1399-8-12.xlsx', '1399-8-11.xlsx', '1399-8-10.xlsx',
       '1399-8-7.xlsx', '1399-8-6.xlsx', '1399-8-5.xlsx', '1399-8-3.xlsx',
       '1399-6-1.xlsx', '1399-7-1.xlsx', '1399-7-2.xlsx', '1399-9-1.xlsx',
       '1399-7-6.xlsx', '1399-7-7.xlsx', '1399-7-8.xlsx', '1399-7-9.xlsx',
       '1399-7-12.xlsx', '1399-7-13.xlsx', '1399-7-14.xlsx',
       '1399-7-15.xlsx', '1399-7-16.xlsx', '1399-7-19.xlsx',
       '1399-7-30.xlsx', '1399-7-29.xlsx', '1399-7-28.xlsx',
       '1399-7-27.xlsx', '1399-7-23.xlsx', '1399-7-22.xlsx',
       '1399-7-21.xlsx', '1399-7-20.xlsx'], dtype='<U32')

<div id="section1"   dir='rtl'>
    <h2>حال به ازای هر نام فایل انرا از گوگل درایو می خوانیم و پسوند xlsx و . را از ان جدا می کنیم و یک ستون تاریخ به نام همین اسم فایل اضافه می کنیم و در نهایت به ان پسوند csv می زنیم و انرا به csv تبدیل می کنیم و در فایل csv موجود در گوگل درایو ذخیره می کنیم </div>
</h2>
        <hr>

In [9]:
for excelfile in trainlist:
    data = pd.read_excel("/content/drive/MyDrive/spark/Datasets/3/xlsx/"+excelfile)
    excelfile = excelfile[:-5]
    data['تاریخ']=  excelfile
    data.to_csv("/content/drive/MyDrive/spark/Datasets/3/csv/"+excelfile+'.csv')

<div id="section1"   dir='rtl'>
    <h2>مثلا این یک فایل csv است که ستون تاریخ به ان اضافه شده است. </div>
</h2>
        <hr>

In [10]:
df1 = pd.read_csv("/content/drive/MyDrive/spark/Datasets/3/csv/1399-6-1.csv",index_col=0)
df1

         نماد                             نام  تعداد  ...  کمترین  بیشترین     تاریخ
0        شستا      سرمايه گذاري تامين اجتماعي  85825  ...   45090    49830  1399-6-1
1       فولاد             فولاد مباركه اصفهان  82507  ...   16350    18030  1399-6-1
2       خساپا                           سايپا  73083  ...    3620     4000  1399-6-1
3        فملي          ملي‌ صنايع‌ مس‌ ايران‌  72353  ...   26820    28170  1399-6-1
4        شپنا               پالايش نفت اصفهان  71781  ...   36020    39800  1399-6-1
..        ...                             ...    ...  ...     ...      ...       ...
866  صايپا112  صكوك مرابحه سايپا112-3ماهه 16%      1  ...  987100   987100  1399-6-1
867   افاد554      منفعت دولت5-ش.خاص ساير0108      1  ...  979800   979800  1399-6-1
868  اخزا8052     اسنادخزانه-م5بودجه98-000422      1  ...  845000   845000  1399-6-1
869   پا ر 37                 بار پايه روز 37      1  ...     520      520  1399-6-1
870  ضفار8037   اختيارخ فارس-12826-1399/08/06      1  ...    7000     7000  1399-6-1

[871 rows x 16 columns]

<div id="section1"   dir='rtl'>
    <h2>حال در اسپارک فایل های csv داده های بورس را می خوانیم </div>
</h2>
        <hr>

In [11]:
cases = spark.read.load("/content/drive/MyDrive/spark/Datasets/3/csv/",format="csv", sep=",", inferSchema="true", header="true")
cases

+---+--------+--------------------+------+----------+--------------+------+------+--------------------+--------------------+-------------------+-------------------+-------------------+------------------+------+-------+---------+
|_c0|    نماد|                 نام| تعداد|       حجم|          ارزش| دیروز| اولین|آخرین معامله - مقدار|آخرین معامله - تغییر|آخرین معامله - درصد|قیمت پایانی - مقدار|قیمت پایانی - تغییر|قیمت پایانی - درصد|کمترین|بیشترین|    تاریخ|
+---+--------+--------------------+------+----------+--------------+------+------+--------------------+--------------------+-------------------+-------------------+-------------------+------------------+------+-------+---------+
|  0|   وپويا|   سرمايه گذاري پويا|221148| 149165392| 1712875262674| 11269| 10706|               11394|                 125|               1.11|              11483|                214|               1.9| 10706|  11832|1399-7-20|
|  1|    پيزد|مجتمع صنايع لاستي...|216137|  13179821| 1392576810079|106527|101201|              101201|               -5326|               -5.0|             105660|               -867|             -0.81|101201| 111853|1399-7-20|
|  2|  بپيوند|برق و انرژي پيوند...|115014|  30389513|  757607196825| 25145| 25080|               23888|               -1257|               -5.0|              24930|               -215|             -0.86| 23888|  26402|1399-7-20|
|  3|دارا يكم|صندوق واسطه گري م...|112002|  46518713|10984343025160|225020|234110|              226200|                1180|               0.52|             236130|              11110|              4.94|225020| 244980|1399-7-20|
|  4|   وسپهر|سرمايه گذاري مالي...|111632| 209997116| 3384833475566| 15368| 16136|               16131|                 763|               4.96|              16118|                750|              4.88| 15410|  16136|1399-7-20|
|  5|  بگيلان|توسعه مسير برق گيلان| 88486|  14945319|  470890977934| 31773| 31185|               30190|               -1583|              -4.98|              31508|               -265|             -0.83| 30185|  33361|1399-7-20|
|  6|   شتران|    پالايش نفت تهران| 68482| 329141300| 5471859328180| 13090| 16100|               16310|                3220|               24.6|              16620|               3530|             26.97| 16100|  16900|1399-7-20|
|  7|   فولاد| فولاد مباركه اصفهان| 66811| 397335925| 7242205025340| 17490| 17600|               18030|                 540|               3.09|              18230|                740|              4.23| 17560|  18360|1399-7-20|
|  8|   آبادا|توليد نيروي برق آ...| 62469|  12663673|  307561183870| 23900| 23950|               23150|                -750|              -3.14|              24290|                390|              1.63| 23010|  25080|1399-7-20|
|  9|  ثبهساز|  بهساز كاشانه تهران| 57776| 213724071|  824344782570|  3760|  3800|                3730|                 -30|               -0.8|               3860|                100|              2.66|  3700|   3940|1399-7-20|
| 10|    گدنا|تهيه توزيع غذاي د...| 57461|    737459|   10275016247| 13270| 13933|               13933|                 663|                5.0|              13399|                129|              0.97| 13933|  13933|1399-7-20|
| 11|   وبملت|            بانك ملت| 55804|1187895834| 7693894081170|  5860|  6620|                6400|                 540|               9.22|               6480|                620|             10.58|  6290|   6780|1399-7-20|
| 12|    فملي|ملي‌ صنايع‌ مس‌ ا...| 52175| 199402046| 5821840048750| 27950| 28100|               28750|                 800|               2.86|              29200|               1250|              4.47| 28100|  29340|1399-7-20|
| 13|     غزر|    صنعتي زر ماكارون| 52063|   5892406|  354452008650| 58070| 60000|               58170|                 100|               0.17|              60150|               2080|              3.58| 58070|  60970|1399-7-20|
| 14|    سيتا|سرمايه گذاري سيما...| 51111|  68403584| 1561339688840| 22100| 23070|               21880|                -220|               -1.0|              22830|                730|               3.3| 21420|  23200|1399-7-20|
| 15|      دي|             بانك دي| 49955|  99006469| 5231962436715| 52194| 53500|               52201|                   7|               0.01|              52845|                651|              1.25| 49590|  54790|1399-7-20|
| 16|  زملارد|كشاورزي و دامپرور...| 49763|   6195826|  293355964981| 45393| 47662|               46925|                1532|               3.37|              47347|               1954|               4.3| 43124|  47662|1399-7-20|
| 17|   شاروم|     پتروشيمي اروميه| 46596|    864940|   14194530340| 15630| 16411|               16411|                 781|                5.0|              15838|                208|              1.33| 16411|  16411|1399-7-20|
| 18|   پترول|گروه پتروشيمي س. ...| 41951| 205015494| 3537329402710| 16580| 16600|               16950|                 370|               2.23|              17250|                670|              4.04| 16600|  17400|1399-7-20|
| 19|   ثاميد|  توسعه و عمران اميد| 41641| 155867869|  466536090100|  2860|  3000|                3000|                 140|                4.9|               2990|                130|              4.55|  2880|   3000|1399-7-20|
+---+--------+--------------------+------+----------+--------------+------+------+--------------------+--------------------+-------------------+-------------------+-------------------+------------------+------+-------+---------+
only showing top 20 rows

<div id="section1"   dir='rtl'>
    <h2>می بینیم که دیتاست بورسی شامل 126388 سطر و 17 ستون (شامل تاریخ) است </div>
</h2>
        <hr>

In [12]:
print( {(cases.count(), len(cases.columns))} )

{(126388, 17)}

Rename column name from persian to english

<div id="section1"   dir='rtl'>
    <h2>برای کار بهتر نام ستون ها را به انگلیسی تغییر می دهیم من نام را به همان ترتیب نامی که در dbeaver   در تمرین اول بود، تغییر دادم
    که برای اینکار از تابع col و یک حلقه ی for استفاده می کنیم </div>
</h2>
        <hr>

In [14]:
from pyspark.sql.functions import col

mapping = dict(zip(['_c0', 'نماد','نام','تعداد','حجم','ارزش','دیروز','اولین','آخرین معامله - مقدار','آخرین معامله - تغییر','آخرین معامله - درصد',
'قیمت پایانی - مقدار','قیمت پایانی - تغییر','قیمت پایانی - درصد','کمترین','بیشترین','تاریخ']
                   , ['id', 'symbol','full_name','quantity','volume','value','yesterday_qnt','first_order_value',
                      'last_order_value','last_order_value_change','last_order_value_change_percent',
'close_price','close_price_change','close_price_change_percent','min_price','max_price','date_date']))
cases=cases.select([col(c).alias(mapping.get(c, c)) for c in cases.columns])

In [15]:
cases

+---+--------+--------------------+--------+----------+--------------+-------------+-----------------+----------------+-----------------------+-------------------------------+-----------+------------------+--------------------------+---------+---------+---------+
| id|  symbol|           full_name|quantity|    volume|         value|yesterday_qnt|first_order_value|last_order_value|last_order_value_change|last_order_value_change_percent|close_price|close_price_change|close_price_change_percent|min_price|max_price|date_date|
+---+--------+--------------------+--------+----------+--------------+-------------+-----------------+----------------+-----------------------+-------------------------------+-----------+------------------+--------------------------+---------+---------+---------+
|  0|   وپويا|   سرمايه گذاري پويا|  221148| 149165392| 1712875262674|        11269|            10706|           11394|                    125|                           1.11|      11483|               214|                       1.9|    10706|    11832|1399-7-20|
|  1|    پيزد|مجتمع صنايع لاستي...|  216137|  13179821| 1392576810079|       106527|           101201|          101201|                  -5326|                           -5.0|     105660|              -867|                     -0.81|   101201|   111853|1399-7-20|
|  2|  بپيوند|برق و انرژي پيوند...|  115014|  30389513|  757607196825|        25145|            25080|           23888|                  -1257|                           -5.0|      24930|              -215|                     -0.86|    23888|    26402|1399-7-20|
|  3|دارا يكم|صندوق واسطه گري م...|  112002|  46518713|10984343025160|       225020|           234110|          226200|                   1180|                           0.52|     236130|             11110|                      4.94|   225020|   244980|1399-7-20|
|  4|   وسپهر|سرمايه گذاري مالي...|  111632| 209997116| 3384833475566|        15368|            16136|           16131|                    763|                           4.96|      16118|               750|                      4.88|    15410|    16136|1399-7-20|
|  5|  بگيلان|توسعه مسير برق گيلان|   88486|  14945319|  470890977934|        31773|            31185|           30190|                  -1583|                          -4.98|      31508|              -265|                     -0.83|    30185|    33361|1399-7-20|
|  6|   شتران|    پالايش نفت تهران|   68482| 329141300| 5471859328180|        13090|            16100|           16310|                   3220|                           24.6|      16620|              3530|                     26.97|    16100|    16900|1399-7-20|
|  7|   فولاد| فولاد مباركه اصفهان|   66811| 397335925| 7242205025340|        17490|            17600|           18030|                    540|                           3.09|      18230|               740|                      4.23|    17560|    18360|1399-7-20|
|  8|   آبادا|توليد نيروي برق آ...|   62469|  12663673|  307561183870|        23900|            23950|           23150|                   -750|                          -3.14|      24290|               390|                      1.63|    23010|    25080|1399-7-20|
|  9|  ثبهساز|  بهساز كاشانه تهران|   57776| 213724071|  824344782570|         3760|             3800|            3730|                    -30|                           -0.8|       3860|               100|                      2.66|     3700|     3940|1399-7-20|
| 10|    گدنا|تهيه توزيع غذاي د...|   57461|    737459|   10275016247|        13270|            13933|           13933|                    663|                            5.0|      13399|               129|                      0.97|    13933|    13933|1399-7-20|
| 11|   وبملت|            بانك ملت|   55804|1187895834| 7693894081170|         5860|             6620|            6400|                    540|                           9.22|       6480|               620|                     10.58|     6290|     6780|1399-7-20|
| 12|    فملي|ملي‌ صنايع‌ مس‌ ا...|   52175| 199402046| 5821840048750|        27950|            28100|           28750|                    800|                           2.86|      29200|              1250|                      4.47|    28100|    29340|1399-7-20|
| 13|     غزر|    صنعتي زر ماكارون|   52063|   5892406|  354452008650|        58070|            60000|           58170|                    100|                           0.17|      60150|              2080|                      3.58|    58070|    60970|1399-7-20|
| 14|    سيتا|سرمايه گذاري سيما...|   51111|  68403584| 1561339688840|        22100|            23070|           21880|                   -220|                           -1.0|      22830|               730|                       3.3|    21420|    23200|1399-7-20|
| 15|      دي|             بانك دي|   49955|  99006469| 5231962436715|        52194|            53500|           52201|                      7|                           0.01|      52845|               651|                      1.25|    49590|    54790|1399-7-20|
| 16|  زملارد|كشاورزي و دامپرور...|   49763|   6195826|  293355964981|        45393|            47662|           46925|                   1532|                           3.37|      47347|              1954|                       4.3|    43124|    47662|1399-7-20|
| 17|   شاروم|     پتروشيمي اروميه|   46596|    864940|   14194530340|        15630|            16411|           16411|                    781|                            5.0|      15838|               208|                      1.33|    16411|    16411|1399-7-20|
| 18|   پترول|گروه پتروشيمي س. ...|   41951| 205015494| 3537329402710|        16580|            16600|           16950|                    370|                           2.23|      17250|               670|                      4.04|    16600|    17400|1399-7-20|
| 19|   ثاميد|  توسعه و عمران اميد|   41641| 155867869|  466536090100|         2860|             3000|            3000|                    140|                            4.9|       2990|               130|                      4.55|     2880|     3000|1399-7-20|
+---+--------+--------------------+--------+----------+--------------+-------------+-----------------+----------------+-----------------------+-------------------------------+-----------+------------------+--------------------------+---------+---------+---------+
only showing top 20 rows

splie date to year,month,day

<div id="section1"   dir='rtl'>
    <h2>حال در ادامه برای راحتی کار ستون تاریخ را با استفاده از تابع slpit در اسپارک، به روز و ماه و سال می شکانیم برای اینکار باید به الگوی تاریخ در ستون date_date توجه کنیم و همانطور که می بینیم تاریخ در این ستون به وسیله ی - جدا شدند در نتیجه با استفاده از تابع getitem مقادیر روز و ماه و سال را گرفته و به ستون های جدید day,month,Year منتقل می کنیم </div>
</h2>
        <hr>

In [16]:
from pyspark.sql.functions import split

In [17]:
split_date=split(cases['date_date'], '-')     
cases= cases.withColumn('Year', split_date.getItem(0))
cases= cases.withColumn('month', split_date.getItem(1))
cases= cases.withColumn('day', split_date.getItem(2))
cases

+---+--------+--------------------+--------+----------+--------------+-------------+-----------------+----------------+-----------------------+-------------------------------+-----------+------------------+--------------------------+---------+---------+---------+----+-----+---+
| id|  symbol|           full_name|quantity|    volume|         value|yesterday_qnt|first_order_value|last_order_value|last_order_value_change|last_order_value_change_percent|close_price|close_price_change|close_price_change_percent|min_price|max_price|date_date|Year|month|day|
+---+--------+--------------------+--------+----------+--------------+-------------+-----------------+----------------+-----------------------+-------------------------------+-----------+------------------+--------------------------+---------+---------+---------+----+-----+---+
|  0|   وپويا|   سرمايه گذاري پويا|  221148| 149165392| 1712875262674|        11269|            10706|           11394|                    125|                           1.11|      11483|               214|                       1.9|    10706|    11832|1399-7-20|1399|    7| 20|
|  1|    پيزد|مجتمع صنايع لاستي...|  216137|  13179821| 1392576810079|       106527|           101201|          101201|                  -5326|                           -5.0|     105660|              -867|                     -0.81|   101201|   111853|1399-7-20|1399|    7| 20|
|  2|  بپيوند|برق و انرژي پيوند...|  115014|  30389513|  757607196825|        25145|            25080|           23888|                  -1257|                           -5.0|      24930|              -215|                     -0.86|    23888|    26402|1399-7-20|1399|    7| 20|
|  3|دارا يكم|صندوق واسطه گري م...|  112002|  46518713|10984343025160|       225020|           234110|          226200|                   1180|                           0.52|     236130|             11110|                      4.94|   225020|   244980|1399-7-20|1399|    7| 20|
|  4|   وسپهر|سرمايه گذاري مالي...|  111632| 209997116| 3384833475566|        15368|            16136|           16131|                    763|                           4.96|      16118|               750|                      4.88|    15410|    16136|1399-7-20|1399|    7| 20|
|  5|  بگيلان|توسعه مسير برق گيلان|   88486|  14945319|  470890977934|        31773|            31185|           30190|                  -1583|                          -4.98|      31508|              -265|                     -0.83|    30185|    33361|1399-7-20|1399|    7| 20|
|  6|   شتران|    پالايش نفت تهران|   68482| 329141300| 5471859328180|        13090|            16100|           16310|                   3220|                           24.6|      16620|              3530|                     26.97|    16100|    16900|1399-7-20|1399|    7| 20|
|  7|   فولاد| فولاد مباركه اصفهان|   66811| 397335925| 7242205025340|        17490|            17600|           18030|                    540|                           3.09|      18230|               740|                      4.23|    17560|    18360|1399-7-20|1399|    7| 20|
|  8|   آبادا|توليد نيروي برق آ...|   62469|  12663673|  307561183870|        23900|            23950|           23150|                   -750|                          -3.14|      24290|               390|                      1.63|    23010|    25080|1399-7-20|1399|    7| 20|
|  9|  ثبهساز|  بهساز كاشانه تهران|   57776| 213724071|  824344782570|         3760|             3800|            3730|                    -30|                           -0.8|       3860|               100|                      2.66|     3700|     3940|1399-7-20|1399|    7| 20|
| 10|    گدنا|تهيه توزيع غذاي د...|   57461|    737459|   10275016247|        13270|            13933|           13933|                    663|                            5.0|      13399|               129|                      0.97|    13933|    13933|1399-7-20|1399|    7| 20|
| 11|   وبملت|            بانك ملت|   55804|1187895834| 7693894081170|         5860|             6620|            6400|                    540|                           9.22|       6480|               620|                     10.58|     6290|     6780|1399-7-20|1399|    7| 20|
| 12|    فملي|ملي‌ صنايع‌ مس‌ ا...|   52175| 199402046| 5821840048750|        27950|            28100|           28750|                    800|                           2.86|      29200|              1250|                      4.47|    28100|    29340|1399-7-20|1399|    7| 20|
| 13|     غزر|    صنعتي زر ماكارون|   52063|   5892406|  354452008650|        58070|            60000|           58170|                    100|                           0.17|      60150|              2080|                      3.58|    58070|    60970|1399-7-20|1399|    7| 20|
| 14|    سيتا|سرمايه گذاري سيما...|   51111|  68403584| 1561339688840|        22100|            23070|           21880|                   -220|                           -1.0|      22830|               730|                       3.3|    21420|    23200|1399-7-20|1399|    7| 20|
| 15|      دي|             بانك دي|   49955|  99006469| 5231962436715|        52194|            53500|           52201|                      7|                           0.01|      52845|               651|                      1.25|    49590|    54790|1399-7-20|1399|    7| 20|
| 16|  زملارد|كشاورزي و دامپرور...|   49763|   6195826|  293355964981|        45393|            47662|           46925|                   1532|                           3.37|      47347|              1954|                       4.3|    43124|    47662|1399-7-20|1399|    7| 20|
| 17|   شاروم|     پتروشيمي اروميه|   46596|    864940|   14194530340|        15630|            16411|           16411|                    781|                            5.0|      15838|               208|                      1.33|    16411|    16411|1399-7-20|1399|    7| 20|
| 18|   پترول|گروه پتروشيمي س. ...|   41951| 205015494| 3537329402710|        16580|            16600|           16950|                    370|                           2.23|      17250|               670|                      4.04|    16600|    17400|1399-7-20|1399|    7| 20|
| 19|   ثاميد|  توسعه و عمران اميد|   41641| 155867869|  466536090100|         2860|             3000|            3000|                    140|                            4.9|       2990|               130|                      4.55|     2880|     3000|1399-7-20|1399|    7| 20|
+---+--------+--------------------+--------+----------+--------------+-------------+-----------------+----------------+-----------------------+-------------------------------+-----------+------------------+--------------------------+---------+---------+---------+----+-----+---+
only showing top 20 rows

<div id="section1"   dir='rtl'>
    <h2>در هر گام ریزالت هم با توابع دیتافریم و هم با sql نشان داده می شود </div>
</h2>
        <hr>

#step 1

<div id="section1"   dir='rtl'>
    <h2>در این گام از ما خواسته شده است که گرانترین و ارزاانترین نماد بورسی را برای فایل اخر که برای من 27 اسفند است را پیدا کنیم. برای اینکار ابتدا برای قسمت دیتافریم، با استفاده از تابع فیلتر ، از ستون date_date، تاریخ 27 ام اسفند را جدا می کنیم و در یک جدول دیگر می ریزیم </div>
</h2>
        <hr>

In [18]:
df=cases.filter(cases.date_date == "1399-12-27")
df

+---+--------+--------------------+--------+---------+-------------+-------------+-----------------+----------------+-----------------------+-------------------------------+-----------+------------------+--------------------------+---------+---------+----------+----+-----+---+
| id|  symbol|           full_name|quantity|   volume|        value|yesterday_qnt|first_order_value|last_order_value|last_order_value_change|last_order_value_change_percent|close_price|close_price_change|close_price_change_percent|min_price|max_price| date_date|Year|month|day|
+---+--------+--------------------+--------+---------+-------------+-------------+-----------------+----------------+-----------------------+-------------------------------+-----------+------------------+--------------------------+---------+---------+----------+----+-----+---+
|  0|  پالايش|صندوق پالايشي يکم...|   50519| 54374903|4662042552380|        86360|            87260|           84650|                  -1710|                          -1.98|      85740|              -620|                     -0.72|    84010|    87650|1399-12-27|1399|   12| 27|
|  1|حامي1401|اختيارف ت حامي-14...|   49939|    49939|        49939|            1|                1|               1|                      0|                            0.0|          1|                 0|                       0.0|        1|        1|1399-12-27|1399|   12| 27|
|  2|   رافزا|       رايان هم افزا|   41939|  4993972| 460806766282|        90267|            88462|           95683|                   5416|                            6.0|      92273|              2006|                      2.22|    88462|    95683|1399-12-27|1399|   12| 27|
|  3|    شپنا|   پالايش نفت اصفهان|   28447|174304778|2557871739290|        14180|            14850|           14590|                    410|                           2.89|      14670|               490|                      3.46|    14330|    14990|1399-12-27|1399|   12| 27|
|  4|    اپال|فرآوري معدني اپال...|   28125| 47994924| 859144895370|        18080|            17980|           17970|                   -110|                          -0.61|      17900|              -180|                      -1.0|    17720|    18100|1399-12-27|1399|   12| 27|
|  5|دارا يكم|صندوق واسطه گري م...|   26796| 19008310|2817264609000|       147990|           150120|          146610|                  -1380|                          -0.93|     148210|               220|                      0.15|   146040|   151590|1399-12-27|1399|   12| 27|
|  6|   فولاد| فولاد مباركه اصفهان|   26202|207764062|2943596839720|        13500|            14310|           13990|                    490|                           3.63|      14170|               670|                      4.96|    13860|    14310|1399-12-27|1399|   12| 27|
|  7|   كزغال|  زغال سنگ پروده طبس|   26116| 13185767| 490333773923|        37100|            37005|           37550|                    450|                           1.21|      37187|                87|                      0.23|    36420|    37900|1399-12-27|1399|   12| 27|
|  8|    بركت|    گروه دارويي بركت|   22127| 47365424|1608989133770|        34560|            34100|           33870|                   -690|                           -2.0|      33970|              -590|                     -1.71|    33870|    34700|1399-12-27|1399|   12| 27|
|  9|    فملي|ملي‌ صنايع‌ مس‌ ا...|   21713| 92346591|1256438811180|        13260|            13890|           13490|                    230|                           1.73|      13610|               350|                      2.64|    13350|    13940|1399-12-27|1399|   12| 27|
| 10|   خودرو|        ايران‌ خودرو|   21456|648871386|1644989719670|         2560|             2620|            2520|                    -40|                          -1.56|       2540|               -20|                     -0.78|     2510|     2630|1399-12-27|1399|   12| 27|
| 11|   پترول|گروه پتروشيمي س. ...|   19107|133113990|1464285277790|        10420|            11040|           11040|                    620|                           5.95|      11000|               580|                      5.57|    10730|    11040|1399-12-27|1399|   12| 27|
| 12|   خساپا|               سايپا|   19058|663319616|1563676482280|         2350|             2420|            2330|                    -20|                          -0.85|       2360|                10|                      0.43|     2310|     2440|1399-12-27|1399|   12| 27|
| 13|   وسپهر|سرمايه گذاري مالي...|   17359| 35392223| 376588128036|        10617|            11000|           10408|                   -209|                          -1.97|      10640|                23|                      0.22|    10405|    11000|1399-12-27|1399|   12| 27|
| 14|  سپيدار|   سپيدار سيستم آسيا|   12881|  4901777| 327865439552|        67580|            66229|           66229|                  -1351|                           -2.0|      66887|              -693|                     -1.03|    66229|    70050|1399-12-27|1399|   12| 27|
| 15|  وتجارت|          بانك تجارت|   12151|295412605| 855710322330|         2820|             2870|            2900|                     80|                           2.84|       2900|                80|                      2.84|     2830|     2970|1399-12-27|1399|   12| 27|
| 16|  وبصادر|   بانك صادرات ايران|   12047|392304323|1049761538820|         2540|             2610|            2690|                    150|                           5.91|       2680|               140|                      5.51|     2610|     2690|1399-12-27|1399|   12| 27|
| 17|   بوعلي| پتروشيمي بوعلي سينا|   11220|  6285200| 288698683610|        45740|            46440|           45800|                     60|                           0.13|      45930|               190|                      0.42|    45030|    47100|1399-12-27|1399|   12| 27|
| 18|   شبندر| پالايش نفت بندرعباس|   11172| 33825005| 984273578920|        28550|            29000|           28980|                    430|                           1.51|      29100|               550|                      1.93|    28430|    29870|1399-12-27|1399|   12| 27|
| 19|    كمند|صندوق س. با درآمد...|   10665|493566917|4981064151313|        10061|            10090|           10091|                     30|                            0.3|      10092|                31|                      0.31|    10090|    10194|1399-12-27|1399|   12| 27|
+---+--------+--------------------+--------+---------+-------------+-------------+-----------------+----------------+-----------------------+-------------------------------+-----------+------------------+--------------------------+---------+---------+----------+----+-----+---+
only showing top 20 rows

max_symbol(dataframe)

<div id="section1"   dir='rtl'>
    <h2>سپس با استفاده از دستور orderby به صورت نزولی، ستون close_price که قیمت پایانی_مقدار است، گرانترین نماد بورسی را پیدا می کنیم و با دستور select  10 تا از گرانترین نماد های این روز را نمایش می دهیم</div>
</h2>
        <hr>

In [19]:
df_max=df.orderBy(col("close_price").desc()).limit(10)
df_max.select("symbol","close_price")

+----------+-----------+
|    symbol|close_price|
+----------+-----------+
|   سنفت009|    1484467|
|پست0008پ09|    1398458|
|پست0008پ08|    1372579|
|پست0008پ04|    1362991|
|پست0008پ02|    1350000|
|    افاد14|    1105423|
|    صگل309|    1100000|
|سكه0011پ02|    1090808|
|سكه9912پ04|    1090417|
|سكه0012پ04|    1089400|
+----------+-----------+

max_symbol(sql)

<div id="section1"   dir='rtl'>
    <h2>برای sql ابتدا یک table از روی df می سازیم و سپس یک شرط where روی تاریخ 27 اسفند می گذاریم و در نهایت بر اساس ستون close_price نزولی مرتب می کنیم و 10 تا گرانترین را نمایش می دهیم </div>
</h2>
        <hr>

In [20]:
df.registerTempTable('Stock_Exchange_Daily')
sqlDF_max = spark.sql("select symbol,close_price FROM Stock_Exchange_Daily WHERE date_date='1399-12-27' ORDER BY close_price DESC LIMIT 10;")

sqlDF_max

+----------+-----------+
|    symbol|close_price|
+----------+-----------+
|   سنفت009|    1484467|
|پست0008پ09|    1398458|
|پست0008پ08|    1372579|
|پست0008پ04|    1362991|
|پست0008پ02|    1350000|
|    افاد14|    1105423|
|    صگل309|    1100000|
|سكه0011پ02|    1090808|
|سكه9912پ04|    1090417|
|سكه0012پ04|    1089400|
+----------+-----------+

min_symbol(dataframe)

<div id="section1"   dir='rtl'>
    <h2>برای ارزانترین نماد برعکس انجام می دهیم یعنی سورت صعودی می کنیم. با استفاده از دستور orderby به صورت صعودی، ستون close_price که قیمت پایانی_مقدار است، ارزانترین نماد بورسی را پیدا می کنیم و با دستور select  10 تا از ارزانترین نماد های این روز را نمایش می دهیم</div>
</h2>
        <hr>

In [21]:
df_min=df.orderBy(col("close_price").asc()).limit(10)
df_min.select("symbol","close_price")

+---------+-----------+
|   symbol|close_price|
+---------+-----------+
|    كيان2|          1|
|امين يكم2|          1|
|   ياقوت2|          1|
| حامي1401|          1|
|   كارين2|          1|
|   آكورد2|          1|
|    كمند2|          1|
|  وبازار2|          1|
|    نهال2|          1|
|  اعتماد2|          1|
+---------+-----------+

min_symbol(sql)

<div id="section1"   dir='rtl'>
    <h2>ماانند sql روش قبل است فقط باید صعودی orderby کنیم </div>
</h2>
        <hr>

In [22]:
df.registerTempTable('Stock_Exchange_Daily')
sqlDF_min = spark.sql("select symbol,close_price FROM Stock_Exchange_Daily WHERE date_date='1399-12-27' ORDER BY close_price ASC LIMIT 10;")

sqlDF_min

+---------+-----------+
|   symbol|close_price|
+---------+-----------+
|    كيان2|          1|
|امين يكم2|          1|
|   ياقوت2|          1|
| حامي1401|          1|
|   كارين2|          1|
|   آكورد2|          1|
|    كمند2|          1|
|  وبازار2|          1|
|    نهال2|          1|
|  اعتماد2|          1|
+---------+-----------+

#step 2

<div id="section1"   dir='rtl'>
    <h2>در این روش از ما خواسته شده تا ببینیم کدام نماد، بیشترین حجم خرید در 7 ماه گذشته داشته است که برای اینکار ابتدا باید نماد ها را گروپ بای کنیم سپس روی ستون حجم ، sum بزنیم
    این تغییرات روی جدول اصلی cases است که اطلاعات 7 ماه گذشته را دارد </div>
</h2>
        <hr>

In [23]:
df_volume=cases.groupby('symbol').sum('volume')
df_volume

+--------+-----------+
|  symbol|sum(volume)|
+--------+-----------+
|  دسبحان|  215988482|
|   صنوين|   16630450|
|  فن آوا|  186800660|
| تملي701|       4371|
|ضبدر8070|       1014|
| شستا991|     123162|
|  اراد45|   13994481|
| دكپسولح|   11620021|
|   نهال2|   19320000|
| سنفت009|    7918060|
|ضمخا7071|     187086|
| دتوزيع4|    3000000|
|  دپارس4|    2625000|
| اروند08|          2|
|  اراد37|      73500|
| تملي808|        124|
|  كتوكا4|     600000|
|  اراد70|   10385077|
| اروند09|      10010|
|   تايرا|  580762333|
+--------+-----------+
only showing top 20 rows

<div id="section1"   dir='rtl'>
    <h2>در نهایت با استفاده از تابع orderby و col روی ستون ایجاد شده در مرحله ی قبل سورت نزولی انجام می دهیم و اولین را می گیریم که خودرو است</div>
</h2>
        <hr>

In [24]:
df_volume.orderBy(col("sum(volume)").desc()).limit(1)

+------+------------+
|symbol| sum(volume)|
+------+------------+
| خودرو|143678049388|
+------+------------+

sql

<div id="section1"   dir='rtl'>
    <h2>برای sql  هم sum حجم و نماد را انتخاب می کنیم به طوری که بر اساس نماد گروه بندی می کنیم و براساس مجموع حجم سورت نزولی می کنیم و اولین را ماکسمیم است دریافت می کنیم</div>
</h2>
        <hr>

In [25]:
cases.registerTempTable('Stock_Exchange_Daily')
sqlDF_volume = spark.sql("SELECT symbol, SUM(volume) as Sum_volume FROM Stock_Exchange_Daily GROUP BY symbol ORDER BY Sum_volume DESC LIMIT 1;")

sqlDF_volume

+------+------------+
|symbol|  Sum_volume|
+------+------------+
| خودرو|143678049388|
+------+------------+

#step3

<div id="section1"   dir='rtl'>
    <h2>در این گام از ما خواسته شده 10 نمادی که در هرماه بیشترین میزان افزایش قیمت را داشتند را پیدا کنیم، برای اینکار از  window و row_number استفاده می کنیم به اینصورت که ابتداد براسای نماد و ماه گروه بندی می کنیم و بر روی ستوت close_price_change ماکسمیمم می گیریم چون این ستون اختلاف دو مقدار پایانی و تغییر است     </div>
</h2>
        <hr>

In [26]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

df_maxprice = cases.groupBy('symbol', 'month').max('close_price_change')

<div id="section1"   dir='rtl'>
    <h2>سپس یک ستون جدید بر روی جدول قبل به اسم رنک ایجاد می کنیم  وبر روی ماه بر اساس تابع پارتیشن در window، پارتیشن می کنیم و بر اساس ماکسمیمم اختلاف در هر ماه سورت نزولی می کنیم تا بیشترین قیمت ها به ترتیب در بالا قرار گیرند سپس با استفاده از تابع فیلتر، 10 تا ماکسیمم هر ماه که ستون رنکشان کمتر از 10 را نمایش می دهیم  </div>
</h2>
        <hr>

In [28]:
df_maxprice=df_maxprice.withColumn('rank',row_number().over(Window.partitionBy('month').orderBy(col("max(close_price_change)").desc()))).filter(col('rank')<=10)
df_maxprice

+----------+-----+-----------------------+----+
|    symbol|month|max(close_price_change)|rank|
+----------+-----+-----------------------+----+
|پست0008پ08|    7|                1507478|   1|
|پست0008پ09|    7|                1424101|   2|
|  عسناسنگ2|    7|                 556310|   3|
|   تملي612|    7|                 326854|   4|
|پست9908-08|    7|                 217164|   5|
|كشم0001پ01|    7|                 204700|   6|
|پست9908-04|    7|                 160831|   7|
|   عسناسنگ|    7|                 124035|   8|
|   تملي704|    7|                 104088|   9|
|پست9908-02|    7|                  80545|  10|
|    عكاوه2|   11|                 119188|   1|
|زعف0008پ19|   11|                 116028|   2|
|زعف0008پ20|   11|                 115657|   3|
|پست0008پ02|   11|                 108080|   4|
|پست0008پ04|   11|                  86528|   5|
|  سميعا001|   11|                  76841|   6|
|   اراد134|   11|                  72750|   7|
|پست0008پ08|   11|                  64139|   8|
|پست0008پ09|   11|                  59096|   9|
|سكه0011پ02|   11|                  47433|  10|
+----------+-----+-----------------------+----+
only showing top 20 rows

<div id="section1"   dir='rtl'>
    <h2>همانطور که می بینیم تعداد سطرهای این جدول 70 است که شامل 7 ماه 10 تایی سمبل است</div>
</h2>
        <hr>

In [29]:
df_maxprice.count()

70

<div id="section1"   dir='rtl'>
    <h2>و در نهایت بر اساسماه و رنک سورت صعودی می کنیم </div>
</h2>
        <hr>

In [38]:
df_maxprice.orderBy(col("month").asc(),col("rank").asc())

+----------+-----+-----------------------+----+
|    symbol|month|max(close_price_change)|rank|
+----------+-----+-----------------------+----+
|پست0008پ02|   10|                 115787|   1|
|رطب0002پ02|   10|                 115000|   2|
|پست0008پ04|   10|                 113677|   3|
|رطب0002پ01|   10|                 104677|   4|
|   اراد134|   10|                  71939|   5|
|پست0008پ09|   10|                  70000|   6|
|پست0008پ08|   10|                  57076|   7|
|   صبا1401|   10|                  52439|   8|
|    صگل039|   10|                  49500|   9|
|   سنفت101|   10|                  49143|  10|
|    عكاوه2|   11|                 119188|   1|
|زعف0008پ19|   11|                 116028|   2|
|زعف0008پ20|   11|                 115657|   3|
|پست0008پ02|   11|                 108080|   4|
|پست0008پ04|   11|                  86528|   5|
|  سميعا001|   11|                  76841|   6|
|   اراد134|   11|                  72750|   7|
|پست0008پ08|   11|                  64139|   8|
|پست0008پ09|   11|                  59096|   9|
|سكه0011پ02|   11|                  47433|  10|
+----------+-----+-----------------------+----+
only showing top 20 rows

In [41]:
#df_maxprice.show(70)

<div id="section1"   dir='rtl'>
    <h2>برای sql چندین گام را پیش می بریم به این صورت که ابتدا نماد و ماه و ماکسمیمم ستون close_price_change را انتخاب می کنیم به طوری که بر اساس ماه و نماد گروه بندی می کنیم</div>
</h2>
        <hr>

sql

In [34]:
cases.registerTempTable('Stock_Exchange_Daily')
sqlDF_maxprice=spark.sql("""select symbol,month,max(close_price_change) as max_close
FROM Stock_Exchange_Daily  GROUP BY symbol,month """)

sqlDF_maxprice

+----------+-----+---------+
|    symbol|month|max_close|
+----------+-----+---------+
|    وايران|    7|      150|
|     سكرما|    7|      540|
|زعف9908پ17|    7|     4571|
|  ضمخا7070|    7|     4995|
|  هكوير910|    7|      572|
|  صايپا412|    7|    35999|
|  اخزا7182|    7|    -5534|
|    ثبهساز|    8|      130|
|      تكشا|    8|        0|
|     دكوثر|    8|      920|
|     آرمان|    8|      335|
|      سنير|    8|        0|
|   تسه9905|    6|    38095|
|   تسه9801|    6|    35547|
|     مارون|    6|     6444|
|     فنرژي|    6|      120|
|  ضمخا7032|    6|     5638|
|      كنور|   12|     2550|
|  عسناسنگ2|    7|   556310|
|  تسه98102|   12|  -585212|
+----------+-----+---------+
only showing top 20 rows

<div id="section1"   dir='rtl'>
    <h2>سپس با استفاده پارتیشن بندی بر روی ماه و سورت نزولی براساس ماکسیمم یک ستون جدید که رنک است به این جدول اضافه می کنیم</div>
</h2>
        <hr>

In [33]:
sqlDF_maxprice.registerTempTable('sqlDF_maxprice')
sql1 = spark.sql("""SELECT * , ROW_NUMBER() OVER(PARTITION BY month ORDER BY max_close DESC) as rn FROM sqlDF_maxprice""")
sql1

+----------+-----+---------+---+
|    symbol|month|max_close| rn|
+----------+-----+---------+---+
|پست0008پ08|    7|  1507478|  1|
|پست0008پ09|    7|  1424101|  2|
|  عسناسنگ2|    7|   556310|  3|
|   تملي612|    7|   326854|  4|
|پست9908-08|    7|   217164|  5|
|كشم0001پ01|    7|   204700|  6|
|پست9908-04|    7|   160831|  7|
|   عسناسنگ|    7|   124035|  8|
|   تملي704|    7|   104088|  9|
|پست9908-02|    7|    80545| 10|
|سكه0112پ03|    7|    74006| 11|
|سكه9912پ04|    7|    74000| 12|
|سكه0011پ02|    7|    73994| 13|
|سكه0012پ01|    7|    73350| 14|
|   تملي701|    7|    69569| 15|
|   تملي802|    7|    66402| 16|
|    عكاوه2|    7|    63434| 17|
|   تملي712|    7|    63021| 18|
|   تملي702|    7|    59931| 19|
|   تملي711|    7|    58551| 20|
+----------+-----+---------+---+
only showing top 20 rows

<div id="section1"   dir='rtl'>
    <h2>در نهایت با یک شرط بر روی ستون رنک(rn) تمام سطر هایی را انتخاب می کنیم که رنکشان کمتر از 10 هستند و براساس ماه و رنک صورت صعودی می کنیم</div>
</h2>
        <hr>

In [37]:
sql1.registerTempTable('sql1')

spark.sql("""SELECT * FROM sql1 where rn<=10 ORDER BY month ASC,rn ASC""")

+----------+-----+---------+---+
|    symbol|month|max_close| rn|
+----------+-----+---------+---+
|پست0008پ02|   10|   115787|  1|
|رطب0002پ02|   10|   115000|  2|
|پست0008پ04|   10|   113677|  3|
|رطب0002پ01|   10|   104677|  4|
|   اراد134|   10|    71939|  5|
|پست0008پ09|   10|    70000|  6|
|پست0008پ08|   10|    57076|  7|
|   صبا1401|   10|    52439|  8|
|    صگل039|   10|    49500|  9|
|   سنفت101|   10|    49143| 10|
|    عكاوه2|   11|   119188|  1|
|زعف0008پ19|   11|   116028|  2|
|زعف0008پ20|   11|   115657|  3|
|پست0008پ02|   11|   108080|  4|
|پست0008پ04|   11|    86528|  5|
|  سميعا001|   11|    76841|  6|
|   اراد134|   11|    72750|  7|
|پست0008پ08|   11|    64139|  8|
|پست0008پ09|   11|    59096|  9|
|سكه0011پ02|   11|    47433| 10|
+----------+-----+---------+---+
only showing top 20 rows

#step 4

<div id="section1"   dir='rtl'>
    <h2>در این گام از ما خواسته شده ببینیم چه نمادهاایی بیشترین ریزش قیمت را دارند که از جدول close_price_change استفاده می کنیم .به اینصورت که بر اساس   نماد و ماه گروه بندی می کنیم و کمترین را از جدول close_price_change دریافت می کنیم     </div>
</h2>
        <hr>

In [42]:
df_minprice=cases.groupby('symbol','month').min('close_price_change')
df_minprice

+----------+-----+-----------------------+
|    symbol|month|min(close_price_change)|
+----------+-----+-----------------------+
|    وايران|    7|                   -530|
|     سكرما|    7|                   -860|
|زعف9908پ17|    7|                  -6467|
|  ضمخا7070|    7|                      4|
|  هكوير910|    7|                   -568|
|  صايپا412|    7|                      0|
|  اخزا7182|    7|                  -5534|
|    ثبهساز|    8|                   -160|
|      تكشا|    8|                  -4200|
|     دكوثر|    8|                   -970|
|     آرمان|    8|                   -174|
|      سنير|    8|                   -290|
|   تسه9905|    6|                 -34257|
|   تسه9801|    6|                 -36074|
|     مارون|    6|                  -6945|
|     فنرژي|    6|                   -160|
|  ضمخا7032|    6|                  -7144|
|      كنور|   12|                   -750|
|  عسناسنگ2|    7|                 556310|
|  تسه98102|   12|                -585212|
+----------+-----+-----------------------+
only showing top 20 rows

<div id="section1"   dir='rtl'>
    <h2>و به صورت نزولی ستون به دست امده رو سورت می کنیم و 10 تا نمادی که ریزش قیمت داشتند را نشان می دهیم   </div>
</h2>
        <hr>

In [43]:
df_minprice.orderBy(col("min(close_price_change)").asc()).limit(10)

+-----------+-----+-----------------------+
|     symbol|month|min(close_price_change)|
+-----------+-----+-----------------------+
|گواهي ظرفيت|    6|              -10627803|
|    تملي612|    8|               -6407145|
|   تسه99062|    8|                -929360|
|   تسه99052|    8|                -928755|
|   تسه99042|    8|                -924720|
|   تسه98052|    8|                -914906|
|   تسه99052|    7|                -817057|
|   تسه99042|    7|                -808472|
|   تسه98042|    8|                -808226|
|   تسه99012|    8|                -804878|
+-----------+-----+-----------------------+

sql

<div id="section1"   dir='rtl'>
    <h2>برای sql این روش هم min ستون close_price_change را دریافت می کنیم و بر اساس نماد و ماه گروه بندی می کنیم و بر اساس مینیم مقدار سورت نزولی می کنیم و نشان می دهیم    </div>
</h2>
        <hr>

In [44]:
cases.registerTempTable('Stock_Exchange_Daily')
sqlDF_minprice = spark.sql("""select symbol,month,min(close_price_change) as min_
 FROM Stock_Exchange_Daily  GROUP BY symbol,month ORDER BY min_ asc LIMIT 10;""")


 
sqlDF_minprice

+-----------+-----+---------+
|     symbol|month|     min_|
+-----------+-----+---------+
|گواهي ظرفيت|    6|-10627803|
|    تملي612|    8| -6407145|
|   تسه99062|    8|  -929360|
|   تسه99052|    8|  -928755|
|   تسه99042|    8|  -924720|
|   تسه98052|    8|  -914906|
|   تسه99052|    7|  -817057|
|   تسه99042|    7|  -808472|
|   تسه98042|    8|  -808226|
|   تسه99012|    8|  -804878|
+-----------+-----+---------+

#step5

dataframe

<div id="section1"   dir='rtl'>
    <h2>در اخرین بخش از این گام از ما خواسته شده است، نمادی که بیشترین میزان بسته شدن را داشته پیدا کنیم،.که من از شیوه ی عکس عمل می کنم. یعنی نماد هایی که کمترین حجم داشتند را حساب می کنم. ابتدا بر اساس نماد گروه بندی می کنیم و با تابع agg، تعداد حجم هر نماد را محاسبه می کنیم    </div>
</h2>
        <hr>

In [45]:
df_close = (cases.groupBy('symbol').agg({'volume': 'count'}))
df_close

+--------+-------------+
|  symbol|count(volume)|
+--------+-------------+
|  دسبحان|          139|
|   صنوين|          141|
|  فن آوا|          111|
| تملي701|           98|
|ضبدر8070|           24|
| شستا991|           96|
|  اراد45|           19|
| دكپسولح|           22|
|   نهال2|            9|
| سنفت009|            4|
|ضمخا7071|           30|
| دتوزيع4|            1|
|  دپارس4|            1|
| اروند08|            1|
|  اراد37|            5|
| تملي808|            4|
|  كتوكا4|            1|
|  اراد70|            6|
| اروند09|            1|
|   تايرا|          136|
+--------+-------------+
only showing top 20 rows

<div id="section1"   dir='rtl'>
    <h2>سپس سورت صعودی می کنیم و 10 تا کمترین را نشان می دهیم.چون همه اعدااد این 10 نماد 1 است بنظر می رسد چندین نماد هستند که بسته بودند.   </div>
</h2>
        <hr>

In [46]:
df_close.orderBy(col("count(volume)").asc()).limit(10)

+--------+-------------+
|  symbol|count(volume)|
+--------+-------------+
|  دقاضي2|            1|
|  دپارس4|            1|
| اروند08|            1|
|  كتوكا4|            1|
| اروند09|            1|
| دتوزيع4|            1|
|    شفن4|            1|
|ضفلا8074|            1|
|ضپنا1028|            1|
| پا ر 55|            1|
+--------+-------------+

sql

<div id="section1"   dir='rtl'>
    <h2>در sql هم count حجم و نماد را انتخاب می کنیم به اینصورت که بر اساس نماد گروه بندی می کنیم و بر اساس تعداد حجم سورت صعودی می کنیم و 10 تا کمترین را نشان می دهیم  </div>
</h2>
        <hr>

In [47]:
cases.registerTempTable('Stock_Exchange_Daily')
sqlDF_close = spark.sql("SELECT symbol, (COUNT(volume)) as volume_count FROM Stock_Exchange_Daily GROUP BY symbol ORDER BY volume_count ASC LIMIT 10;")

sqlDF_close

+--------+------------+
|  symbol|volume_count|
+--------+------------+
|  دقاضي2|           1|
|  دپارس4|           1|
| اروند08|           1|
|  كتوكا4|           1|
| اروند09|           1|
| دتوزيع4|           1|
|    شفن4|           1|
|ضفلا8074|           1|
|ضپنا1028|           1|
| پا ر 55|           1|
+--------+------------+